@model IEnumerable<QuanLyTrungTamAnhNgu.Data.Khoahoc>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="mt-4">Danh sách Khóa học</h1>
    <a class="btn btn-primary mb-3" href="/Homecontroller1/Index"><i class="fas fa-home"></i> Quay về trang chủ</a>
    <div class="mb-3">
        <a class="btn btn-primary" asp-action="Create">Tạo mới</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tên khóa học</th>
                    <th>Nội dung</th>
                    <th>Đơn giá</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Tenkh)</td>
                        <td>@Html.DisplayFor(modelItem => item.Noidung)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dongia)</td>
                        <td>
                            <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Makh">Sửa</a>
                            <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.Makh">Chi tiết</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Makh">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
