@model IEnumerable<QuanLyTrungTamAnhNgu.Data.CtHocphi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn btn-primary mb-3" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Quay về trang chủ</a>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaphieuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakhNavigation.Makh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaphieuNavigation.Maphieu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
