@model QuanLyTrungTamAnhNgu.Data.Diemdanh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diemdanh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayhoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayhoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cahoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cahoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MagvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagvNavigation.Magv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MahvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MahvNavigation.Mahv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Madd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
