@model QuanLyTrungTamAnhNgu.Data.Bangluong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bangluong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tongsotiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tongsotiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hesoluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hesoluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tongtienluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tongtienluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MagvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagvNavigation.Magv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManvNavigation.Manv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mabang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
