@model QuanLyTrungTamAnhNgu.Data.CtLapdat

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CtLapdat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaylapdat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaylapdat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatbNavigation.Matb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SophieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SophieuNavigation.Sophieu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Matb" />
        <input type="hidden" asp-for="Sophieu" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
