@model QuanLyTrungTamAnhNgu.Data.CtLapdat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CtLapdat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaylapdat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaylapdat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatbNavigation.Matb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SophieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SophieuNavigation.Sophieu)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
