@model IEnumerable<QuanLyTrungTamAnhNgu.Data.CtLapdat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn btn-primary mb-3" href="/Homecontroller1/Index"><i class="fas fa-home"></i> Quay về trang chủ</a>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngaylapdat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatbNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SophieuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaylapdat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatbNavigation.Matb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SophieuNavigation.Sophieu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
