@model QuanLyTrungTamAnhNgu.Data.Lichday

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lichday</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MagvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagvNavigation.Magv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MalopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MalopNavigation.Malop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mald">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
