@model IEnumerable<QuanLyTrungTamAnhNgu.Data.Lichday>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="mt-4">Danh sách Lịch dạy</h1>
    <a class="btn btn-primary mb-3" href="/HomeController1/Index"><i class="fas fa-home"></i> Quay về trang chủ</a>
    <div class="mb-3">
        <a class="btn btn-primary" asp-action="Create">Tạo mới</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tuần</th>
                    <th>Ca dạy</th>
                    <th>Ngày dạy</th>
                    <th>Ghi chú</th>
                    <th>Giáo viên</th>
                    <th>Lớp học</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Tuan)</td>
                        <td>@Html.DisplayFor(modelItem => item.Caday)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ngayday)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ghichu)</td>
                        <td>@Html.DisplayFor(modelItem => item.MagvNavigation.Magv)</td>
                        <td>@Html.DisplayFor(modelItem => item.MalopNavigation.Malop)</td>
                        <td>
                            <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Mald">Sửa</a>
                            <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.Mald">Chi tiết</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Mald">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
